.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    animation: fade-in-out 3s ease forwards;
    font-weight: bold;
}

.notification-success {
    background-color: #4caf50; /* Green for success */
}

.notification-error {
    background-color: #f44336; /* Red for error */
}

.user-image-update-image-button button{
    margin-top:10px;
}
@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

@media (max-width: 768px) {
    .user-image-update-image-button{
        display: flex;
        flex-direction: column;
    }

    .user-image-update-image-button button{
        margin:10px;
    }

    .container img{
        height:90%;
        width: 60%;
    }

}
